<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="/public/assets/css/style.css" rel="stylesheet">

</head>
<body>
    <div class="d-flex">
        <div class="sidebar-container">
            <div>
                <p class="text-center"><ion-icon name="business-outline"></ion-icon>  UNI EARPFIM<br>Docente</p>
            </div>
            <div class="menu accordion" id="sidebarAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="generalh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general" aria-expanded="true" aria-controls="general">
                            <ion-icon name="bag-remove-outline"></ion-icon> General
                        </button>
                    </h2>
                    <div id="general" class="accordion-collapse collapse show" aria-labelledby="generalh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Aula Virtual FIM</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Informacion Docente</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Mis Cursos Asginados</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Tutoria Alumnos</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Asistencia</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Cargar Notas ORCE</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Biblioteca Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="administracioh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#administracion" aria-expanded="true" aria-controls="administracion">
                            <ion-icon name="bag-remove-outline"></ion-icon>Administracion
                        </button>
                    </h2>
                    <div id="administracion" class="accordion-collapse collapse show" aria-labelledby="administracioh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="acreditacopnh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#acreditacion" aria-expanded="true" aria-controls="acreditacion">
                            <ion-icon name="bag-remove-outline"></ion-icon> Acreditacion FIM
                        </button>
                    </h2>
                    <div id="acreditacion" class="accordion-collapse collapse show" aria-labelledby="acreditacopnh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="virtualh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#virtual" aria-expanded="true" aria-controls="virtual">
                            <ion-icon name="bag-remove-outline"></ion-icon> Virtual
                        </button>
                    </h2>
                    <div id="virtual" class="accordion-collapse collapse show" aria-labelledby="virtualh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="documentosAcademicosh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#documentosAcademicos" aria-expanded="true" aria-controls="documentosAcademicos">
                            <ion-icon name="bag-remove-outline"></ion-icon> Documentos Academicos
                        </button>
                    </h2>
                    <div id="documentosAcademicos" class="accordion-collapse collapse show" aria-labelledby="documentosAcademicosh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div class="sidebar-container w-100">
        
            <div class="azul">
                <h1 style="color: white; padding: 11px;">Nombre y Apellido</h1>
            </div>

            <div class="container">
                <p>Semetre:</p>

                <select class="form-select ancho" aria-label="Default select example">
                    <option selected>20231</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>

                  <div class="row justify-content-center">
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center text-center">
                        <p>Presione este botón solo cuando tenga que registrar su entrada y su salida de clases</p><br><br>
                        <div class="d-block mx-auto">
                            <p>Hora 12:24:46 <button class="btn btn-success my-4">MARCAR MI ASISTENCIA: ENTRADA / SALIDA</button> Ayuda</p>
                            <button type="button" class="btn btn-warning">TOMAR ASISTENCIA ALUMNOS</button>
                        </div>
                    </div>
                    
                  </div>
            </div>
        </div>

    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/javaScript.js"></script>
</body>
</html>