<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="/public/assets/css/style.css" rel="stylesheet">

</head>
<body>
    <div class="d-flex">
        <div class="sidebar-container">
            <div>
                <label class="text-center"><ion-icon name="business-outline"></ion-icon>  UNI EARPFIM<br>Docente</label>
            </div>
            <div class="menu accordion" id="sidebarAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="generalh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general" aria-expanded="true" aria-controls="general">
                            <ion-icon name="bag-remove-outline"></ion-icon> General
                        </button>
                    </h2>
                    <div id="general" class="accordion-collapse collapse show" aria-labelledby="generalh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Aula Virtual FIM</a>
                        </div>
                        <div class="accordion-body">
                            <a href="/index.html">Mis horarios de clases</a>
                        </div>
                        <div class="accordion-body">
                            <a href="/app/view/perfilDocente.html">Informacion Docente</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Mis Cursos Asginados</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Tutoria Alumnos</a>
                        </div>
                        <div class="accordion-body">
                            <a href="/app/view/asistencia.html">Asistencia</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Cargar Notas ORCE</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Biblioteca Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="administracioh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#administracion" aria-expanded="true" aria-controls="administracion">
                            <ion-icon name="bag-remove-outline"></ion-icon>Administracion
                        </button>
                    </h2>
                    <div id="administracion" class="accordion-collapse collapse show" aria-labelledby="administracioh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="acreditacopnh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#acreditacion" aria-expanded="true" aria-controls="acreditacion">
                            <ion-icon name="bag-remove-outline"></ion-icon> Acreditacion FIM
                        </button>
                    </h2>
                    <div id="acreditacion" class="accordion-collapse collapse show" aria-labelledby="acreditacopnh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="virtualh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#virtual" aria-expanded="true" aria-controls="virtual">
                            <ion-icon name="bag-remove-outline"></ion-icon> Virtual
                        </button>
                    </h2>
                    <div id="virtual" class="accordion-collapse collapse show" aria-labelledby="virtualh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="documentosAcademicosh2">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#documentosAcademicos" aria-expanded="true" aria-controls="documentosAcademicos">
                            <ion-icon name="bag-remove-outline"></ion-icon> Documentos Academicos
                        </button>
                    </h2>
                    <div id="documentosAcademicos" class="accordion-collapse collapse show" aria-labelledby="documentosAcademicosh2" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                        <div class="accordion-body">
                            <a href="#">Autla Virtual</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-container w-100">
        
            <div class="azul">
                <h1 style="color: white; padding: 11px;">Nombre y Apellido</h1>
            </div>

            <div class="container bloque p-4">
                <div class="info-container">
                    <img src="/public/assets/img/señor.jpg" style="width: 150px; height: auto;">
                    <div class="info-text">
                        <h5>Juanito Perez Algas</h5>
                        <p>9321391</p>
                        <div class="botones-perfil">
                            <p style="margin-right: 30px;">Actualizar</p>
                            <p>Historial</p>
                        </div><br>
                        <div class="botones-perfil">
                            <button type="button" class="btn img-fluid" style="border: 1px black solid; margin-right: 60px; margin-left: 10px;"><ion-icon name="cloud-download-outline"></ion-icon></button>
                            <button type="button" class="btn img-fluid" style="border: 1px black solid; "><ion-icon name="document-text-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
                <div class="botones-perfil">
                    <button type="button" class="m-3 btn img-fluid" style="border: 1px black solid;">
                        <ion-icon name="reload-outline"></ion-icon>
                    </button>
                    <button type="button" class="btn" style="border: 1px red solid; color: red; height: 40px; margin-top: 15px;">
                        GENERAR PDF
                    </button>
                </div>
            </div>
            <div class="container my-5 ">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button type="button" class="nav-link active" id="datosPersonales-tab" data-bs-toggle="tab" data-bs-target="#datosPersonales" role="tab" aria-controls="nav-home" aria-selected="true">
                            1er
                        </button>

                        <button type="button" class="nav-link" id="nose-tab" data-bs-toggle="tab" data-bs-target="#nose" role="tab" aria-controls="nav-home" aria-selected="true">
                            2do
                        </button>

                        <button type="button" class="nav-link" id="peor-tab" data-bs-toggle="tab" data-bs-target="#peor" role="tab" aria-controls="nav-home" aria-selected="true">
                            3er
                        </button>
                    </div>
                </nav>
                
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active py-5 " id="datosPersonales" role="tabpanel" aria-labelledby="datosPersonales-tab">
                        <h2>1.- DATOS PERSONALES</h2>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex mt-4">
                                        <label style="margin-right: 400px;">Sexo</label>
                                        <label>Fecha Nacimiento</label>
                                    </div>
                                    <div class="d-flex">
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ;"">
                                            <option selected>Seleccione una opcion</option>
                                            <option value="masculino">Masculino</option>
                                            <option value="femenino">Femenino</option>
                                          </select>

                                          <input  class="form-control" type="date" name="fechaNacimiento" id="fecha-id" style="margin-left: 160px; width: 220px;">
                                    </div>
                                    <div class="mt-4">
                                        <label>Teléfono Fijo</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                    
                                    <div class="mt-4">
                                        <label>RUC</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                    <div class="mt-4">
                                        <label>Brevete y Categoria</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                    <div class="d-flex mt-4 ">
                                        <label style="margin-right: 400px;">Estado Civil</label>
                                        <label>Fecha Matrimonio</label>
                                    </div>
                                    <div class="d-flex">s
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ;"">
                                            <option selected>Seleccionar</option>
                                            <option value="masculino">Casado</option>
                                            <option value="femenino">Soltero</option>
                                          </select>
                                          <input  class="form-control" type="date" name="fechaMatrimonio" id="fecha-id" style="margin-left: 160px; width: 220px;">
                                    </div>
                                    <div class="mt-4">
                                        <label>E-mail (S)</label>
                                        <div class="d-flex">
                                            <input  class="form-control" type="text" name="" id="" style="width: 220px;">
                                            <input  class="form-control" type="text" name="" id="" style="margin-left: 50px; width: 220px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div>
                                        <div class="d-flex mt-4">
                                            <label>DNI</label>
                                            <button type="button" class="btn img-fluid" style="border: 1px black solid; margin-left: 410px; margin-right: 10px;">
                                                <ion-icon name="cloud-upload-outline"></ion-icon>
                                            </button>
                                            <button type="button" class="btn img-fluid" style="border: 1px black solid; margin-right: 10px;">
                                                <ion-icon name="eye-outline"></ion-icon>
                                            </button>
                                            <button type="button" class="btn img-fluid" style="border: 1px black solid;">
                                                <ion-icon name="trash-outline"></ion-icon>
                                            </button>
                                        </div>
                                        
                                        <input class="form-control" type="text" name="" id="" style="width: 300px;">
                                    </div>
                                    <div class="mt-4">
                                        <label>Celular</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                    <div class="mt-4">
                                        <label>Lib Militar</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                    <div class="mt-4">
                                        <label>Si cuenta con vehiculo, indicar modelo, placa, año, color</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                    <div class="mt-4">
                                        <label>Grupo Sanguineo</label>
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                </div>

                                
                            </div>

                            <div class="row mt-5">
                                <h3>Lugar de Nacimiento</h3>
                                <div class="col-md-6">
                                    <div class="mt-4">
                                        <label>Pais</label>
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ;"">
                                            <option selected>Seleccionar</option>
                                            <option value="peru">Peru</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                    </div>
                                    <div class="mt-4">
                                        <label>Provincia</label>
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ;"">
                                            <option selected>Seleccionar</option>
                                            <option value="01-lima">01-Lima</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mt-4">
                                        <label>Departamento</label>
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ;"">
                                            <option selected>Seleccionar</option>
                                            <option value="15-lima">15 Lima</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                    </div>
                                    <div class="mt-4">
                                        <label>Distrito</label>
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ;"">
                                            <option selected>Seleccionar</option>
                                            <option value="masculino">35 San Martin de Porres</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h3>Domicilio</h3>
                                <div class="mt-4">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formulario">AÑADIR REGISTRO</button>
                                </div>
                                <div class="modal fade" id="formulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Domicilio</h1>
                                        </div>
                                        <div class="modal-body">
                                          <form action="" method="post">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label>Pais</label>
                                                            <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                <option selected>Seleccionar</option>
                                                                <option value="peru">Peru</option>
                                                                <option value="femenino">Soltero</option>
                                                            </select>
                                                        </div>
                                                        <div class="mt-3">
                                                            <label>Provincia</label>
                                                            <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                <option selected>Seleccionar</option>
                                                                <option value="02-aija">02 Aija</option>
                                                                <option value="femenino">Soltero</option>
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label>Departamento</label>
                                                            <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                <option selected>Seleccionar</option>
                                                                <option value="02-ancash">02 Ancash</option>
                                                                <option value="femenino">Soltero</option>
                                                            </select>
                                                        </div>
                                                        <div class="mt-3">
                                                            <label>Distrito</label>
                                                            <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                <option selected>Seleccionar</option>
                                                                <option value="02-coris">02 Coris</option>
                                                                <option value="femenino">Soltero</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <div class="d-flex mt-3">
                                                            <div>
                                                                <label>Tipo Via</label>
                                                                <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                    <option selected>Seleccionar</option>
                                                                    <option value="02-aija">02 Aija</option>
                                                                    <option value="femenino">Soltero</option>
                                                                </select>
                                                            </div>
                                                            <div style="margin-left: 20px;">
                                                                <label>Nombre de la Via</label>
                                                                <input type="text" class="form-control" id="">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex mt-3">
                                                            <div>
                                                                <label>Tipo</label>
                                                                <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                    <option selected>Seleccionar</option>
                                                                    <option value="02-aija">02 Aija</option>
                                                                    <option value="femenino">Soltero</option>
                                                                </select>
                                                            </div>
                                                            <div style="margin-left: 20px;">
                                                                <label>Numero de Inmueble</label>
                                                                <input type="text" class="form-control" id="">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex mt-3">
                                                            <div>
                                                                <label>Tipo de Zona</label>
                                                                <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                                    <option selected>Seleccionar</option>
                                                                    <option value="02-aija">02 Aija</option>
                                                                    <option value="femenino">Soltero</option>
                                                                </select>
                                                            </div>
                                                            <div style="margin-left: 20px;">
                                                                <label>Nombre de la Zona</label>
                                                                <input type="text" class="form-control" id="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary">Guardar</button>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                <table class="table table-bordered mt-4">
                                    <thead>
                                      <tr>
                                        <th scope="col">Orden</th>
                                        <th scope="col">Pais</th>
                                        <th scope="col">Direccion extranjera</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Provincia</th>
                                        <th scope="col">Distrito</th>
                                        <th scope="col">Tipo de Via</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Numero de Inmueble</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                  </table>

                                  <div class="mt-5">
                                    <h2>1.1.- PERSONAS A COMUNICAR EN CASO DE EMERGENCIA:</h2>
                                    
                                    <label>Contacto 1 (*)</label>
                                    <div class="d-flex mt-3">
                                        <label style="margin-right: 400px;">Apellidos y nombres</label>
                                        <label style="margin-right: 350px;">Parentesco</label>
                                        <label>Celular</label>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <input class="form-control" style="width: 500px; margin-right: 50px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 300px; margin-right: 130px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 200px; " type="text" name="" id="">
                                    </div>
                                    <label>Contacto 2 (*)</label>
                                    <div class="d-flex mt-3">
                                        <label style="margin-right: 400px;">Apellidos y nombres</label>
                                        <label style="margin-right: 350px;">Parentesco</label>
                                        <label>Celular</label>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <input class="form-control" style="width: 500px; margin-right: 50px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 300px; margin-right: 130px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 200px; " type="text" name="" id="">
                                    </div>
                                    <label>Contacto 3</label>
                                    <div class="d-flex mt-3">
                                        <label style="margin-right: 400px;">Apellidos y nombres</label>
                                        <label style="margin-right: 350px;">Parentesco</label>
                                        <label>Celular</label>
                                    </div>
                                    <div class="d-flex">
                                        <input class="form-control" style="width: 500px; margin-right: 50px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 300px; margin-right: 130px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 200px; " type="text" name="" id="">
                                    </div>
                                </div>
            
                                <div class="mt-5">
                                    <h2>2.-DATOS LABORALES</h2>
                                    <div class="d-flex mt-3">
                                        <label style="margin-right: 300px;">Condicion (C/N)</label>
                                        <label style="margin-right: 300px;">Categoria</label>
                                        <label style="margin-right: 300px;">Dedicacion</label>
                                        <label>Horas</label>
                                    </div>
                                    <div class="d-flex">
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ; margin-right: 115px;">
                                            <option selected>Seleccionar</option>
                                            <option value="peru">Contrato</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ; margin-right: 70px;">
                                            <option selected>Seleccionar</option>
                                            <option value="peru">Planilla</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ; margin-right: 80px;">
                                            <option selected>Seleccionar</option>
                                            <option value="peru">81</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                        <input class="form-control" style="width: 100px; " type="text" name="" id="">
                                    </div>
                                    <div class="d-flex mt-3">
                                        <label style="margin-right: 315px;">Horas lectivas</label>
                                        <label>Dependencia donde labora (Actual)</label>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <input class="form-control" style="width: 300px; margin-right: 115px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 400px; " type="text" name="" id="">
                                    </div>
                                    <div class="d-flex mt-3">
                                        <label style="margin-right: 280px;">Fecha Ingreso FIM</label>
                                        <label style="margin-right: 210px;">Fecha. Nombramiento</label>
                                        <label>Regimen Pensionario</label>
                                    </div>
                                    <div class="d-flex  mb-3">
                                        <input  class="form-control" type="date" name="" id="" style="width: 220px;">
                                        <input  class="form-control" type="date" name="" id="" style="margin-left: 200px; width: 220px;">
                                        <select class="form-select" aria-label="Default select example" style="width: 300px ; margin-left: 150px;">
                                            <option selected>Seleccionar</option>
                                            <option value="peru">AFP</option>
                                            <option value="femenino">Soltero</option>
                                        </select>
                                    </div>
                                    <div class="d-flex">
                                        <label style="margin-right: 315px;">AFP (Nombre)</label>
                                        <label style="margin-right: 250px;">Cod. AFP</label>
                                        <label style="margin-right: 250px;">Cod.EsSalud</label>
                                        <label>Otro Tipo de Seguro</label>
                                    </div>
                                    <div class="d-flex">
                                        <input class="form-control" style="width: 300px; margin-right: 195px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 300px; margin-right: 90px;" type="text" name="" id="">
                                        <input class="form-control" style="width: 300px; margin-right: 120px;" type="text" name="" id="">
                                        <input class="form-control" type="text" name="" id="">
                                    </div>
                                </div>
                   
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade show p-3" id="nose" role="tabpanel" aria-labelledby="nose-tab">
                        <h2>3.-DATOS DE FORMACION PROFESIONAL: Indicar Grados y Titulos obtenidos, señalando Fecha de Revalidacion, para el caso de Titulos y Grados otorgados
                            en el Extranjero
                        </h2>
                        <div class="mt-4">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formulario2">AÑADIR REGISTRO</button>
                        </div>
                        <div class="modal fade" id="formulario2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Formacion Profesional</h1>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label>Formacion Profesional</label>
                                                    <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                        <option selected>Seleccionar</option>
                                                        <option value="peru">Peru</option>
                                                        <option value="femenino">Soltero</option>
                                                    </select>
                                                </div>
                                                <div class="mt-3">
                                                    <label>Universidad</label>
                                                    <input  class="form-control" type="text" style="width: 220px;">

                                                </div>
                                                <div class="mt-3">
                                                    <label>Fecha Inicio</label>
                                                    <input  class="form-control" type="date" style="width: 220px;">

                                                </div>
                                                <div class="mt-3">
                                                    <label>Grado Obtenido</label>
                                                    <input  class="form-control" type="text" style="width: 220px;">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label>Pais</label>
                                                    <select class="form-select" aria-label="Default select example" style="width: 300px ;">
                                                        <option selected>Seleccionar</option>
                                                        <option value="02-ancash">02 Ancash</option>
                                                        <option value="femenino">Soltero</option>
                                                    </select>
                                                </div>
                                                <div class="mt-3">
                                                    <label>Especialidad</label>
                                                    <input type="text" name="" class="form-control" id="">
                                                </div>
                                                <div class="mt-3">
                                                    <label>Fecha Final</label>
                                                    <input type="date" name="" class="form-control" id="">
                                                </div>
                                                <div class="mt-3">
                                                    <label>Documento Sustentatorio</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <label>Observacion:</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary">Guardar</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Orden</th>
                                        <th>Formacion Profesional</th>
                                        <th>Pais</th>
                                        <th>Universidad</th>
                                        <th>Especialidad</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Final</th>
                                        <th>Grado Obtenido</th>
                                        <th>Documento Sustentatorio</th>
                                        <th>Observacion</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        
                    </div>

                    <div class="tab-pane fade show p-3" id="peor" role="tabpanel" aria-labelledby="peor-tab">
                        <h1>Peor</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et dolores quasi laudantium ipsam voluptatum velit, laborum neque, fuga ipsa ex ea. Dolores sit, expedita 
                            exercitationem molestiae voluptatem quibusdam rerum assumenda!</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>