.sidebar-container {
    flex-direction: column;
    min-height: 100vh;
    border: 1px black solid;
}
a {
    text-decoration: none;
}
.sidebar-container .menu {
    width: 18rem;
}

.azul {
    background-color: rgb(8, 8, 54);
    margin-bottom: 60px;
}
.ancho {
    width: 15%;
}

.bloque {
    box-shadow: 0px 0px 4px black;
}

.info-container {
    display: flex;
}

.info-text {
    margin-left: 10px;
}

.botones-perfil {
    display: inline-flex;
}