body {
    overflow: hidden;
    
}

.sidebar-container {
    flex-direction: column;
    min-height: 100vh;
    border: 1px black solid;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: aqua;
}
.sidebar-container .menu {
    width: 18rem;
}

.azul {
    background-color: rgb(8, 8, 54);
    margin-bottom: 60px;
}